<div class="content">
  <nav class="navbar navbar-expand-xl navbar-light bg-light">
    <form class="form-inline w-75 input-icons ml-2 my-xl-0">
      <i class="pi pi-search mx-2 text-muted"></i>
      <input class="form-control w-100 input-field mr-4 px-5" type="search" placeholder="Search" aria-label="Search">

    </form>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        <li class="nav-item">
          <i class="pi pi-bell mt-3 mx-3 text-muted"></i>
        </li>
        <li class="nav-item">
          <img class="imgNav" src="assets/img/Jebari.jpg">
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mt-2" href="#" id="navbarDropdownMenuLink" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dr.Ahmed Jebari
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Profile</a>
            <a class="dropdown-item" href="#">Settings<span class="badge badge-success float-right">9</span></a>
            <a class="dropdown-item" href="#">Log out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <hr class="mt-0">
</div>

