<div class="row mb-3">

    <div class="col-lg-3 ">
        <div class="card ">
            <div class="card-body p-0">
                <div class="row ">
                    <div class="p-3">
                        <div class="media ">
                            <i class="fa fa-stethoscope c1 m-3"></i>
                            <div class="media-body">
                                <p class="font-weight-bold mt-3 mb-0">3,256</p>
                                <p class="text-muted small ">Total patients</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <i class="pi pi-ellipsis-h text-right text-muted mt-3"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card ">
            <div class="card-body p-0">
                <div class="row ">
                    <div class="p-3 ">
                        <div class="media ">
                            <i class="pi pi-users c2 m-3 text-primary"></i>
                            <div class="media-body">
                                <p class="mt-3 mb-0 font-weight-bold">394</p>
                                <p class="text-muted small ">Available staff</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <i class="pi pi-ellipsis-h text-muted text-right mt-3"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card ">
            <div class="card-body p-0">
                <div class="row ">
                    <div class="p-3 ">
                        <div class="media ">
                            <i class="pi pi-wallet c3 m-3"></i>
                            <div class="media-body">
                                <p class="mt-3 mb-0 font-weight-bold">$2,536</p>
                                <p class="text-muted small ">Avg treat. Costs</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <i class="pi pi-ellipsis-h text-muted text-right mt-3"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card ">
            <div class="card-body p-0">
                <div class="row ">
                    <div class="p-3 ">
                        <div class="media">
                            <i class="fa fa-ambulance c4 m-3"></i>
                            <div class="media-body">
                                <p class="mt-3 mb-0 font-weight-bold">38</p>
                                <p class="text-muted small ">Available Cars</p>
                            </div>

                        </div>

                    </div>
                    <div class="col">
                        <i class="pi pi-ellipsis-h text-muted text-right mt-3"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>