<aside class="sidebar">
    <h5 class="my-3">H-care</h5>
    <button class="btn btnRegister">Register patient <i class="fa fa-plus pl-3"></i></button>
    <div class="d-flex mb-5">
        <ul class="list-unstyled mx-auto justify-content-center">
            <li class="m-3"><a class="text-muted" href="#"><i class="fa fa-user-md" aria-hidden="true"></i> Patients</a></li>
            <li class="m-3"><a class="text-muted" href="#"><i class="fa fa-handshake-o" aria-hidden="true"></i> Overview</a></li>
            <li class="m-3"><a class="text-muted" href="#"><i class="fa fa-map-marker" aria-hidden="true"></i>
                Map</a></li>
                <li class="m-3"><a class="text-muted" href="#"><i class="fa fa-home"></i> Departments</a></li>
            <li class="m-3"><a class="text-muted" href="#"><i class="fa fa-ambulance"></i> Doctors</a></li>
            <li class="m-3 mb-5"><a class="text-muted" href="#"><i class="fa fa-history"></i> History</a>
            </li>
            <li class="m-3"><a class="text-muted" href="#"><i class="fa fa-cog  "></i> Settings</a></li>
        </ul>
    </div>
    
</aside>

<!--responsive side bar-->
<aside class="mini-sidebar">
<button class="btn btnRegister mt-5"> <i class="fa fa-plus" aria-hidden="true"></i>
</button>
<div class="d-flex mb-5">
  <ul class="list-unstyled mx-auto justify-content-center">
      <li class="m-3"><a class="text-muted" href="#"><i class="fa fa-user-md" aria-hidden="true"></i></a></li>
      <li class="m-3"><a class="text-muted" href="#"><i class="fa fa-handshake-o" aria-hidden="true"></i></a></li>
      <li class="m-3"><a class="text-muted" href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> </a></li>
      <li class="m-3"><a class="text-muted" href="#"><i class="fa fa-home"></i></a></li>
      <li class="m-3"><a class="text-muted" href="#"><i class="fa fa-ambulance"></i></a></li>
      <li class="m-3 mb-5"><a class="text-muted" href="#"><i class="fa fa-history"></i></a>
      </li>
      <li class="m-3"><a class="text-muted" href="#"><i class="fa fa-cog  "></i></a></li>
  </ul>
</div>
</aside>
