<aside class="sidebar">
    <h5 class="my-3">H-care</h5>
    <button class="btn btnRegister">Register patient <i class="pi pi-user-plus"></i></button>
    <div class="d-flex mb-5">
        <ul class="list-unstyled mx-auto justify-content-center">
            <li class="m-3"><a class="text-muted" href="#" routerLink="farmer" routerLinkActive="active" ><i class="pi pi-user" aria-hidden="true"></i>Farmer</a></li>
            <li class="m-3"><a class="text-muted" href="#"><i class="pi pi-sitemap" aria-hidden="true"></i> Overview</a></li>
            <li class="m-3"><a class="text-muted" href="#"><i class="pi pi-map-marker" aria-hidden="true"></i>
                Map</a></li>
                <li class="m-3"><a class="text-muted" href="#"><i class="pi pi-home"></i> Departments</a></li>
            <li class="m-3"><a class="text-muted" href="#"><i class="pi pi-users"></i> Staff</a></li>
            <li class="m-3 mb-5"><a class="text-muted" href="#"><i class="pi pi-undo"></i> History</a>
            </li>
            <li class="m-3"><a class="text-muted" href="#"><i class="pi pi-cog  "></i> Settings</a></li>
        </ul>
    </div>
    
</aside>

<!--responsive side bar-->
<aside class="mini-sidebar">
<button class="btn btnRegister mt-5"> <i class="pi pi-user-plus" aria-hidden="true"></i>
</button>
<div class="d-flex mb-5">
  <ul class="list-unstyled mx-auto justify-content-center">
      <li class="m-3"><a class="text-muted" href="#"><i class="pi pi-user" aria-hidden="true"></i></a></li>
      <li class="m-3"><a class="text-muted" href="#"><i class="pi pi-sitemap" aria-hidden="true"></i></a></li>
      <li class="m-3"><a class="text-muted" href="#"><i class="pi pi-map-marker" aria-hidden="true"></i> </a></li>
      <li class="m-3"><a class="text-muted" href="#"><i class="pi pi-home"></i></a></li>
      <li class="m-3"><a class="text-muted" href="#"><i class="pi pi-users"></i></a></li>
      <li class="m-3 mb-5"><a class="text-muted" href="#"><i class="pi pi-undo"></i></a>
      </li>
      <li class="m-3"><a class="text-muted" href="#"><i class="pi pi-cog "></i></a></li>
  </ul>
</div>
</aside>
